@media (max-width: 1024px){
  .header-container {
    padding: 0 3%;
  }
  .optimize,.docum {
    float: none;
  }
  .wrapper-columns-rewiews {
    max-width: 920px;
  }
}

@media (max-width: 922px){

  .text-content {
    padding: 0 7% 0 15%;
  }
  .text-content h1 {
    margin-bottom: 18px;
    padding-top: 67px;
  }
  .image-content img {
    max-width: none;
  }

  .sevice-item {
    min-height: auto;
    margin-bottom: 5%;
  }
}

@media (max-width: 768px){
  .col-m-6 {
    width: 100%;
    float: none;
  }
  .optimize,.docum {
    float: none;
  }
}

@media (min-width: 569px){
  .mobile-menu {
    display: none;
  }
  .lang-button {
    margin-top: 8px;
  }
  .header-container {
    margin-right: 8.5%;
  }
  .main-container {
    margin-right: 2%;
  }

}

@media (max-width: 568px){
  .text-content h1::after {
    margin: 0 auto;
  }

  .btn-wrap {
    padding-bottom: 40px;
  }
  .col-6 {
    width: 100%;
  }
  .text-content {
    padding: 0 8%;
    height: 475px
  }

  .text-content {
    text-align: center;
  }

  .text-content h1 {
    padding: 20px 0;
    margin: 0;
    width: 100%;
  }

  .header-container {
    padding-top: 22px;
  }

  .menu-wrap ul,.menu-wrap li {
    margin: 0;
  }
  .menu-wrap li {
    width: 100%;
    text-align: center;
  }
  .menu-wrap {
    float: none;
    display: none;
  }
  .menu-wrap.active {
    display: block;
  }
  .image-content {
    display: none;
  }
  .text-content p {
    width: 100%;
  }
  .play-stop-button {
    display: none;
  }
}

@media (min-width: 922px) {
  .row-top-offset {
    margin-top: 8.7%;
    margin-bottom: 2.2%;
  }
}
